html
    head
        meta(name="viewport" content="width=device-width, user-scalable=no")
    body
        div(style="height: 100%;text-align: center; box-sizing: border-box; padding: 32%;")
            span(style="font-size: 34px;")
                | Página não encontrada

