html
    head
        base(href="http://192.168.25.18:3000/")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no")
        title ViewUP Commerce
        link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
        script(src="https://www.google.com/recaptcha/api.js" async)
        link(rel="stylesheet" href="cdn/css/base.css")
        link(rel="stylesheet" href="cdn/css/default.css")
        link(rel="stylesheet" href="cdn/css/cardList.css")
        link(rel="stylesheet" href="cdn/css/customLayout.css")
        link(rel="stylesheet" href="cdn/css/variationTable.css")
        link(rel="stylesheet" href="cdn/css/Loader.css")
        link(rel="stylesheet" href="cdn/bower_components/trumbowyg/dist/ui/trumbowyg.min.css")
        link(rel="stylesheet" href="cdn/build/bundle.css")
    body
        div(id="center" app-server="")
        script(src="cdn/bower_components/jquery/dist/jquery.min.js")
        script(src="cdn/js/jquery.serializeObject.min.js")
        script(src="cdn/bower_components/trumbowyg/dist/trumbowyg.min.js")
        script(src="cdn/bower_components/ObjectId.js/src/main/javascript/Objectid.js")
        script(src="cdn/build/bundle.js")