doctype html

html(lang="pt-br")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, user-scalable=no')
        title.
           MY AWEOSOME TITLE
    body(style='background: #fff')
        div
            h1.
                My Aweosome site